.gradient-button {
  &.shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.upgrade-section__button {
  background: #FD32AF;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #FD32AF;
  transition: all 0.3s ease;
  
  &:hover {
    background: transparent;
    color: #FD32AF;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(253, 50, 175, 0.3);
  }
} 