.gradient-text {
    background: linear-gradient(90deg, #F6B144 0%, #F6B144 50%, #FE7EF4 100%);
    -webkit-background-clip: text;
    background-clip: text; /* Standard property for compatibility */
    -webkit-text-fill-color: transparent;
  }
.gradient-text {
    background: linear-gradient(90deg, #F6B144 0%, #F6B144 50%, #FE7EF4 100%);
    -webkit-background-clip: text;
    background-clip: text; /* Standard property for compatibility */
    -webkit-text-fill-color: transparent; /* Correct property for WebKit browsers */
    }

@keyframes gradient-animation {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

.animated-gradient-text,
.animated-gradient-icon {
  background: linear-gradient(
    to right,
    #F6B144,
    #FE7EF4,
  );
  background-size: 400% 400%;
  animation: gradient-animation 10s linear infinite;
}

.animated-gradient-text {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.animated-gradient-icon {
  fill: url(#icon-gradient);
}

.animated-gradient-icon path {
  fill: currentColor;
}