.upload-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.upload-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.upload-exit {
  opacity: 1;
  transform: translateY(0);
}
.upload-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}

.create-note-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.create-note-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.create-note-exit {
  opacity: 1;
  transform: translateY(0);
}
.create-note-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}
/* folder-component.css */
.shadow-lg {
  box-shadow: 2px 5px 15px -3px rgba(0, 0, 0, 0.1), -1px -1px 4px 2px rgba(0, 0, 0, 0.06);
}

.accordion-content-enter {
  max-height: 0;
  opacity: 0;
}

.accordion-content-enter-active {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}

.accordion-content-exit {
  max-height: 1000px;
  opacity: 1;
}

.accordion-content-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}